.DS_Store

.vscode/
.ipynb_checkpoints
*/.ipynb_checkpoints/*
__pycache__/

experiments/
experiments/saved_models/*
ldcl.egg-info/
saved_datasets/

ExperimentsOLD/
Scratch/
Notes/
saved_datasets/
run/saved_models/*
!run/saved_models/placeholder.txt
**/*.swp

run/Ignore*.ipynb
